html, body {
	font: 12pt Arial,sans-serif;
}
.container {
	padding-top: 5%;
}

#catalog {
	position: relative;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.modal_show {
	display: block;
}